:root{
    --dark: rgba(0,0,0,.7);
    --light: #f5f5f5;
    --skyblue: skyblue;
}
body {
    background-color:var(--light)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark);
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    height: 100px;
    display: grid;
    grid-template-columns: auto auto ;
    align-content: center;
    align-items: center;
    background-color: var(--dark);
    
} 
header h1{
    display: flex;
    width: 30vw;
    font-size: 35px;
    padding-left: 10px;

    background-color: var(--skyblue);
    color: var(--dark);
}
header nav {
    margin-right: 10%;
    text-align: right;
}

header nav  a{
    margin: 5px;
    font-size: 16px;
    color: var(--skyblue)
}
header nav a:hover{
    transition: all .3s;
    font-size: 20px;
    background-color: var(--skyblue);
    color: var(--dark);
}

.cover { 


    background:linear-gradient(45deg, rgba(0,0,0,.2),rgba(0,0,0,.2)), url('../images/headshot.jpeg');
    
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    height: 35vh;
    position: relative;

}

.cover h2{
    position: absolute;
    right: 5%;
    bottom: 10%;
    color: var(--dark);
    background-color: var(--skyblue);
    font-size: 30px;
}
.content {
    display: flex;
    
    flex-direction: row;
    
}
.content h3{
    font-size: 25px;
    width: 20vw;
    text-align: right;
}
#about-me p {
    line-height: 1.5;
}

.right{
margin: 2.5%;
display: inline-block;
}
.left{
    margin: 2.5%;
    padding-right: 5%;

    border-right: 1vh solid var(--dark);

}
.main-project {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 2.5vh;
}
.main-project div {
    position: absolute;
    background-color: var(--skyblue);
    padding-right: 5%;
    bottom: 25%;
    height: 7vh;
    width: 20vw;
    z-index: 1;
    padding: 3px;
} 
.main-project div h3 {
    text-align: left;
}

.main-project img {
    filter: saturate(0);
    width: 100%;
    height: auto;
    align-items: center;
    border: .5vw solid var(--skyblue);
}
.main-project:hover img  {
    filter: saturate(1);
    transform: scale(1.05);
    transition: all .3s ease-in;
  
} 
.main-project:hover div {
    transition: all .3s ease-in;
    transform: scale(1.15);
}


.other-project {
    display: inline-block;
    width: 48%;
    height: auto;
    position: relative;
    margin-bottom: 2.5%;
    
}
.other-project div {
    position: absolute;
    background-color: var(--skyblue);
    padding-right: 5%;
    bottom: 25%;
    height: 8vh;
    width: 60%;
    z-index: 1;

} .other-project div h3{
    text-align: left;
    font-size: 20px;
}
/* I made them have a height of 30vh because of the pictures was way taller when I made the have a height of auto */
.other-project img {
    filter: saturate(0);
    width: 100%;
    height: 30vh;
    align-items: center;
    border: .5vw solid var(--skyblue);

}
.other-project:hover img  {
    filter: saturate(1);
    transform: scale(1.1);
    transition: all .3s ease-in;
  
} 
.other-project:hover div {
    transition: all .3s ease-in;
    transform: scale(1.15);
}
.right-margin {
    margin-right: 1.75vh;
}
footer{
    display: inline;
}
footer nav a {
padding: 5px;
font-size: 16px;
}
footer nav a:hover {
    font-size: 20px;
    transition: all .3s ease-in;
    }
    /* media query for larger mobile devices */
@media screen and (max-width:768px) {
 
    footer{
        position: relative;
    }
    footer .left {
        border: none;
        margin: 0;
        border-bottom: 1vh solid var(--dark);


    }
    
    footer .left h3 {
        

        width: 100vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 10px;
    
        
    }
   footer nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 21%;
    bottom: -14vh;
    }
}
/* media query for smaller devices */
@media screen and (max-width: 450px){
    header nav a{
        display: flex;
        justify-content: center;
        text-align: center;
        
        
    }
    header{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 22vh;
    }
    header h1{
        width: 50vw;
        justify-content: center;

    }
}